$green-button: #3cb371;
$background-color:#f5f5f5;
$searchButton-color:#6495ed;
$content-color:#ffffff;
$comment-color:#d8d8d8;
$reset-color:#dcdcdc;
$reset-border-color:#f6f9fb;
$history-color:#4682b4;
$menu-background:#a9a9a9;
$text-td-table:#696969;
$paging-bg-color:#ddd;
$black-color:#000;
$white-color:#fff;
$vnd-color:#cc3300;
$print-color:#3399ff;
$download-button-bg: #333333;
$money-color:#006400;
$status-table-color: #00cc99;
$border-table-color: #dee2e6;
$detail-bg-color:#87CEFA;
$header-bg-color:#eaeffa;